.form__button {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 14px 0;
  transition: background-color .2s ease-in;
  border: none;
  border-radius: 2px;
}

.form__button:hover {
  background-color: rgba(0, 0, 0, .8);
  opacity: 100%;
}
