.button_type_edit {
  padding: 0;
  width: 24px;
  height: 24px;
  border-width: 1px;
  background-image: url("../../../images/icon-edit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 375px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}
