.pop-up {
  position: fixed;
  visibility: collapse;
  opacity: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: visibility .4s, opacity .4s ease-in-out;
}
