.pop-up__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  height: 40px;
  width: 40px;
  border: 0;
  background-color: transparent;
  background-image: url("../../../images/icon-add.svg");
  background-size: contain;
  transform: rotate(45deg);
}

@media screen and (max-width: 570px) {
  .pop-up__close-button {
    height: 26px;
    width: 26px;
    right: 0;
    top: -45px;
  }
}
