.card__info {
  min-height: 79px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 0 20px 0 21px;
}
