.pop-up__container_size_form-card {
  min-width: 282px;
  max-width: 430px;
  padding: 34px 36px 37px 36px;

}

@media screen and (max-width: 468px) {
  .pop-up__container_size_form-card {
    padding: 25px 22px 25px 22px;
  }
}
